<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input label="Produto" labelPlacement="floating" placeholder="Digite o produto" [(ngModel)]="novoProduto"></ion-input>
  </ion-item>
  <ion-button (click)="addToList(novoProduto)">
    <ion-icon slot="start" name="add-circle-outline"></ion-icon>
    Adicionar
  </ion-button>
  <ion-list lines="inset" *ngFor="let item of itens; index as i">
    <ion-item>
      <ion-label>{{item}}</ion-label>
      <ion-button (click)="removeFromList(i)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
